/* color palette */
.color1 {color: #97DFFC;}
.color2 {color: #5891C7;}
.color3 {color: #040404;}
.color4 {color: #ED0000;}
.color5 {color: #F7F4EA;}


/* header & footer*/
.css-14xtw13.e8zbici0 {
    visibility : hidden;
}
.css-1lsmgbg.egzxvld0 {
    visibility : hidden;
}
.css-1avcm0n.e8zbici2{
    visibility : hidden;
}

/* body*/
.css-ffhzg2{
    background: #040404;
}
.css-12oz5g7 {
    padding: 0;
    max-width: inherit;
}

.hr{
    padding: 0;
}